@use 'theme/theme';

@import 'bootstrap/functions';
@import 'bootstrap/variables';

$theme-colors: (
  "primary": #1255B3,
  "secondary": #CA3C25
);

$body-bg: gray("200");
$font-family-sans-serif: (Montserrat, sans-serif);
$border-radius: 1rem;

@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/grid';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/dropdown';
@import 'bootstrap/button-group';
@import 'bootstrap/utilities';

// @import 'bootstrap/bootstrap.scss'

@each $color, $value in $theme-colors {
  @include theme.btn-active-disabled($color, $value);
}